@import '../../styles/variables.scss';

.loader {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: inline-block;
  background-color: #fff;
  animation: blink 1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds_ring {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
}
.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $color-primary-dark;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-primary-dark transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
